/* Configuration générale du menu */
.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  z-index: 1000;
}

/* Cacher la checkbox */
.menu-open {
  display: none;
}

/* Bouton rouge principal */
.menu-open-button {
  background: #d73953;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

/* Lignes du burger */
.menu-line {
  position: absolute;
  height: 4px;
  width: 40px;
  background: white;
  transition: all 0.3s;
}

.menu-line-1 {
  top: 26px;
}

.menu-line-2 {
  top: 38px;
}

.menu-line-3 {
  top: 50px;
}

/* Icônes menu */
.menu-item {
  background: #d73953;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
  transform: scale(0);
  transition: transform 0.3s ease;
}

/* Position des icônes (verticaux) */
.menu-item:nth-child(3) {
  transform: translateY(80px) scale(0);
}

.menu-item:nth-child(4) {
  transform: translateY(160px) scale(0);
}

.menu-item:nth-child(5) {
  transform: translateY(240px) scale(0);
}

.menu-item:nth-child(6) {
  transform: translateY(320px) scale(0);
}

.menu-item:nth-child(7) {
  transform: translateY(400px) scale(0);
}

/* Activation des icônes au clic */
/* .menu-open:checked ~ .menu-item:nth-child(3) {
  transform: translateY(80px) scale(1);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transform: translateY(160px) scale(1);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transform: translateY(240px) scale(1);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transform: translateY(320px) scale(1);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  transform: translateY(400px) scale(1);
}*/

/* Animation croix */
/*.menu-open:checked + .menu-open-button .menu-line-1 {
  transform: rotate(45deg);
  top: 38px;
}

.menu-open:checked + .menu-open-button .menu-line-2 {
  opacity: 0;
}

.menu-open:checked + .menu-open-button .menu-line-3 {
  transform: rotate(-45deg);
  top: 38px;
} */

.menu:hover .menu-item:nth-child(3) {
  transform: translateY(80px) scale(1);
}

.menu:hover .menu-item:nth-child(4) {
  transform: translateY(160px) scale(1);
}

.menu:hover .menu-item:nth-child(5) {
  transform: translateY(240px) scale(1);
}

.menu:hover .menu-item:nth-child(6) {
  transform: translateY(320px) scale(1);
}

.menu:hover .menu-item:nth-child(7) {
  transform: translateY(400px) scale(1);
}

/* Lignes du burger en croix au survol */
.menu:hover .menu-line-1 {
  transform: rotate(45deg);
  top: 38px;
}

.menu:hover .menu-line-2 {
  opacity: 0;
}

.menu:hover .menu-line-3 {
  transform: rotate(-45deg);
  top: 38px;
}
